body {
    background-color: rgb(25, 25, 25);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    display: inline-block;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: #0f0f0f;
    z-index: 3;
}

footer > p{
    font-family: 'Inconsolata', sans-serif;
    margin-left: 21%;
    position: relative;
    left: 6%;
    color: rgb(255, 255, 255);
}

a:link {
    color: rgb(255, 100, 100);
}

a:visited {
    color: rgb(150, 100, 100);
}

a:hover {
    color: rgb(150, 150, 150);;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #0f0f0f;
    z-index: 3;
    height: 80px;
}

header > a{
    text-decoration: none;
    font-size: 21px;
    color: rgb(14, 14, 14);
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
}

#footer-cred {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: #0f0f0f;
    z-index: 3;
}

#footer-cred > p{
    font-family: 'Inconsolata', sans-serif;
    margin-left: 17%;
    position: relative;
    left: 6%;
    color: rgb(255, 255, 255);
}

img {
    width: 70px;
}

.credit{
    margin-top: 170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    text-align: center; 
}
  
  .credit img {
    width: 200px;
    height: auto;
    border-radius: 90%; 
    cursor: pointer;
}

.credit p {
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}
.texto {
    opacity: 0;            
    visibility: hidden;  
    transition: none;       
}

#credito{
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0.7mm 0.4mm 0.9mm;
}

#logo-header > img{
    position: relative;
    width: 220px;
    right: 10px;
    top: -15px
}