body {
    background-color: rgba(58, 58, 58, 0.7);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    display: inline-block;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: rgb(155, 155, 155);
    z-index: 3;
}

footer > p{
    font-family: 'Inconsolata', sans-serif;
    margin-left: 21%;
    position: relative;
    left: 6%;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: rgb(155, 155, 155);
    z-index: 3;
}

header > a{
    text-decoration: none;
    font-size: 21px;
    color: rgb(14, 14, 14);
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
}

#footer-cred {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: rgb(155, 155, 155);
    z-index: 3;
}

#footer-cred > p{
    font-family: 'Inconsolata', sans-serif;
    margin-left: 17%;
    position: relative;
    left: 6%;
}

img {
    width: 70px;
}
